

/* Index.html */
.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    width: 500px; 
    margin: auto; 
    gap: 20px;
}

p{
    text-align: center;
    color: tomato;
    font-size: 1.5em;
    font: optional;
}

.box1 {
    width: 500px;
    border: 1px solid rgb(253, 253, 253);
}

.box2 {
    width: 150px; 
    height: 575px;
    border: 1px solid rgb(253, 253, 253);
}

.box2 .img{
  width: 100%;
  height: 100%;
  overflow:auto;
}

.box3 {
    width: 320px; 
    height: auto;
    border: 1px solid rgb(253, 253, 253);
}

.box4 {
  width: 150px; 
  height: auto;
  border: 1px solid rgb(253, 253, 253);
}

 /* Form container styling */
 .form-container {
    width: 280px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Form title */
  .form-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  /* Input and select styling */
  .form-container input[type="text"],
  .form-container select {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }

  .form-container select {
    width: 88%;
  }
  /* Placeholder styling */
  .form-container input[type="text"]::placeholder {
    color: #888;
  }
  
  /* Submit button styling */
  .form-container button {
    width: 30%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-container button:hover {
    background-color: #45a049;
  }

  
